@charset "UTF-8";

body {
    margin: 0px;
    min-height: 100vh;
    background-color: rgb(155, 155, 155);
}



header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-variant: small-caps;
}

header > h1 {
    margin-top: 0px;
}

header a {
    text-decoration: none;
    color: aliceblue;
}

section {
    font-family: cursive;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: white
}

.normal {
    background-color: white;
}

#cf1 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

#cf2 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

.com-foto > p{
    background-color: rgba(0, 0, 0, 0.379);
    color: white;
    padding: 5px;

}

footer {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin: 0px;
}

footer p {
    margin: 0px;
}

footer a {
    text-decoration: none;
    margin: 0px;
    color: aliceblue;
}

footer a:hover {
    text-decoration: underline;
    color: antiquewhite;
}