@charset "UTF-8";

html, body {
    margin: 0px;
    min-height: 100vh;
    background-color: rgb(155, 155, 155);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-variant: small-caps;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

header > h1 {
    margin-top: 0px;
    margin-bottom: 6px;
    font-size: 7vw;
}

header > p {
    font-weight: 500;
    font-size: 1.3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bolder;
}

header a:hover {
    text-decoration: underline;
}

section {
    font-family: cursive;
    font-size: 3vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    background-color: white
}

section > p {
    padding-left: 30px;
}

.normal {
    background-color: white;
}

.com-foto > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.379);
    color: white;
    margin-left: 30px;
    padding: 5px;
    box-shadow: 1px 1px 6px black;
    border-radius: 5px;
}

#cf1 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

#cf2 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}



footer {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin: 0px;
}

footer p {
    margin: 0px;
}

footer a {
    text-decoration: none;
    margin: 0px;
    color: aliceblue;
}

footer a:hover {
    text-decoration: underline;
    color: antiquewhite;
}